<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm" th:fragment="navbar">

        <div class="container-fluid">

            <a class="navbar-brand fw-bold" href="/dashboard">
                Sistema de Solicitações
            </a>

            <div class="ms-auto">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-light btn-sm">
                        Sair
                    </button>
                </form>
            </div>

        </div>

    </nav>

</body>

</html>