<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="sidebar">

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light border-end"
         style="width: 260px; min-height: calc(100vh - 56px);">

        <ul class="nav nav-pills flex-column mb-auto">

            <li class="nav-item">
                <a th:href="@{/dashboard}" 
                    class="nav-link text-dark"
                    th:classappend="${activePage == 'dashboard'} ? ' active text-white'">
                    Dashboard
                </a>
            </li>

            <li>
                <a th:href="@{/solicitacoes}" 
                    class="nav-link text-dark" 
                    th:classappend="${activePage == 'solicitacoes'} ? ' active text-white'">
                    Solicitações
                </a>
            </li>

            <li>
                <a th:href="@{/alunos}" class="nav-link text-dark">
                    Alunos
                </a>
            </li>

            <li>
                <a th:href="@{/cursos}" class="nav-link text-dark">
                    Cursos
                </a>
            </li>

            <li>
                <a th:href="@{/tipos-documento}" class="nav-link text-dark">
                    Tipos de Documento
                </a>
            </li>

            <li>
                <a th:href="@{/status}" class="nav-link text-dark">
                    Status
                </a>
            </li>

            <li>
                <a th:href="@{/auditoria}" class="nav-link text-dark">
                    Auditoria
                </a>
            </li>

        </ul>

    </div>

</div>

</body>
</html>